<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link href="/public/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
            background: #f9f9f9;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <h1>404</h1>
        <p>暂无资源</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button"></a>
        </p>
    </div>
</body>

</html>